div#gameState{
	color:blue;
	width: 100%;
	text-align: center;
}

div.charPlaceHolder{
}

p#word{
	font-size: 100px;
}

input#characterInput{
	margin: 0 auto;
	text-align: center;
}

div.centered{
	margin: 0 auto;
	text-align: center;
}

ul#usedChars{
	position: absolute;
	float: left;
	list-style: none;
}